/*
  tokens/primitivos.css
  ---------------------
  Variáveis CSS (tokens) de baixo nível: cores, raios, sombras.
  Essas variáveis são importadas primeiro e usadas por arquivos de componente.
*/

:root {
  --_neutral-900: #181a1b;
  --_neutral-800: #23272b;
  --_neutral-700: #101113;

  --_white: #ffffff;

  --_red-500: #f00000;
  --_red-700: #b20710;

  /* RADIUS */
  /* RADIUS */
  --radius-small: 0.5rem;
  --radius-default: 1rem;

  /* SHADOWS */
  --shadow-default: 0 2px 8px rgba(0, 0, 0, 0.15);
  --shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.25);
}
